################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PartieOpenGL-master/PartieOpenGL/jeton.h
/PartieOpenGL-master/PartieOpenGL/jeton.h
